.body__section {
  padding: 100px 0 0 0;
  overflow: hidden;
}

.body__title {
  color: #053f5c;
}

.juda__yaxshi {
  margin: 15px 0 15px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 30px 0 0 0;
}

.card__title {
  color: #010101;
}

.cards .first__card {
  overflow: hidden;
  width: auto;
  height: auto;
    /* background: #FBC43F; */
    /* background: #48B5D6; */
  border: 1px solid #000;
   border-radius: 15px;   
}

/* .cards .card::before,
.cards .card::after {
  content: "";
  inset: 0;
  background: linear-gradient(
    0deg
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
  );
}
.cards .card::after {
  filter: blur(3.5rem);
} */

.first__card img {
  width: 300px;
  height: 300px;
  /* backdrop-filter: blur(2px); */
}

.body__form {
  display: flex;
  justify-content: space-around;
}

.btn {
  margin: 20px 0 20px 0;
  width: 130px;
  height: 40px;
  /* background: linear-gradient(#FF7D58, #FFCC4B); */
  background: transparent;
  border: 2px solid #f469;
  /* border: none; */
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  color: #181e20;
}

.btn:hover {
  transition: 0.5s;
  background-color: rgb(224, 187, 64);
  color: #000;
  border: none;
}

.first__card-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__right {
  text-align: end;
  margin: 0 15px 0 0;
}

.prices {
  font-size: 18px;
  font-weight: 800;
  margin-left: -15px;
}

span {
  color: #feb822;
  margin: 0 0 0 15px;
}
