header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 50px;
  background: #061a23;
  display: flex;
  justify-content: space-between;
}

.header__links ul {
  display: flex;
  list-style: none;
}

.header__links li {
  margin: 0 10px 0 10px;
  line-height: 50px;
}

.header__links li a {
  text-decoration: none;
  color: #fff;
}

.header__links li a:hover {
  transition: 0.5s;
  color: #49b265;
}

.header__selection {
  display: flex;
}

.tr__btn {
  outline: none;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  height: 30px;
  /* border: none; */
  margin: 10px 20px 0 0;
  width: 60px;
  cursor: pointer;
}
.number__btn {
  width: 150px;
  height: 40px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  margin: 0 10px 0 0;
  line-height: 53px;
  cursor: text;
}

.header__icons {
  line-height: 60px;
}

.header__profile {
  color: #fff;
  font-size: 22px;
  margin: 0 15px 0 0;
  cursor: pointer;
  align-items: center;
}

.header__shopping {
  color: #fff;
  font-size: 22px;
  margin: 10px 15px 0 0;
  cursor: pointer;
  align-items: center;
}

.hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu ul {
  margin: 200px 0 0 80px;
  background: #000;
}

.hamburger-icon {
  width: 80px;
  height: 20px;
  background-color: #333;
  border-radius: 3px;
  cursor: pointer;
}

.menu-items {
  background: #000;
  display: none;
}

.menu-items li {
  padding: 10px;
  list-style: none;
}

.menu-items {
  display: none;
  background: #000;
}

.menu-items.open {
  display: block;
}

@media screen and (min-width: 712px) {
  .menu-items {
    display: none;
  }

  .menu-items.open {
    display: block;
  }

  .header__links ul {
    display: none;
  }
}

@media screen and (min-width: 315px) {
  .menu-items {
    display: none;
  }

  .menu-items.open {
    display: block;
  }

  .header__links ul {
    display: none;
  }
}
