@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(#00BCB4 ,#058d86 );
  /* background: #fff; */
  /* background: #F7EDE2; */
  /* background: linear-gradient(#00BCB4 , #C4E86B); */
  /* overflow: hidden; */
  text-align: center;
  font-family: Poppins, sans-serif;
  /* font-family: 'IBM Plex Mono', monospace; */
}
